<div class="row">
  {% for photo in include.photos %}
    <div class="col-sm-3">
      <div class="lightbox-container">
        <a href="{{ photo.image_url | relative_url }}" data-gallery="{{ include.album_id }}" data-toggle="lightbox">
          <img class="img-fluid lightbox-photo" src="{{ photo.image_url | relative_url }}">
          <div class="lightbox-overlay">
            <div class="lightbox-overlay-image">
              <img src="{{ 'assets/images/icons/magnifier.png' | relative_url }}">
            </div>
          </div>
        </a>
      </div>
    </div>
  {% endfor %}
</div>
