<section class="section-dark">
  <div class="container">
    <div class="row">
      <div class="col w-100">
        <h2 class="text-center">Let's Get In Touch!</h2>
      </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-8">
          <p class="text-center">
            Maecenas congue dui at dui blandit auctor. 
            Vestibulum commodo vulputate augue vitae tempor. Quisque ipsum odio,
            lobortis non erat nec, egestas luctus diam.
          </p>
        </div>
      </div>
  </div>
</section>