<div class="row {{ include.container_class }}">
  {% for panel in include.panels %}
    <div class="{{ include.size }}">
      <div class="panel">
        <div class="panel-heading">
          <img class="panel-image" src="{{ panel.image_url | relative_url }}"/>
        </div>
        <hr>
        <div class="panel-body text-center">
          <h3>
            {{ panel.title }}
          </h3>
          {% if panel.description %}
            <p>
              {{ panel.description }}
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>