.navbar {
  z-index: 1;
};

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat left center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
};

.carousel-overlay {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.1;
}

@include media-breakpoint-down(md) {
  .carousel-item { 
    height: 70vh;
  }
}

@include media-breakpoint-down(sm) {
  .carousel-item {
    background: no-repeat center bottom;
    background-size: cover;
    height: 80vh;
  }
}