body,
html {
  overflow-x: hidden;
}

.blueprint-image {
  width: 100%;
  height: 350px !important;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;

  @include media-breakpoint-down(xs) {
    height: 275px !important;
  }
}

.blueprint-camera-image-container {
  position: absolute; 

  .blueprint-camera-image {
    width: 15px;
    height: 15px;
  }
  
}

#ground-floor {

  #living-room {
    top: 41%;
    left: 40%;
  }

  #family-room {
    right: 25%;
    top: 35%;
  }

  #grand-staircase {
    left: 45%;
    top: 45%;
  }

  #vertical-grand-staircase {
    right: 43%;
    top: 40%;
  }

  #kitchen {
    right: 25%;
    top: 25%;
  }

  #dining-room {
    left: 45%;
    top: 28%;
  }
  
  @include media-breakpoint-only(md) {
    #living-room {
      left: 45%;
      top: 40%;
    }
  
    #family-room {
      right: 37%;
      top: 32%;
    }
  
    #staircase {
      left: 48%;
    }
  
    #kitchen {
      right: 36%;
    }
  
    #dining-room {
      left: 47%;
      top: 25%;
    }
  }

  @include media-breakpoint-down(sm) {
    &#family-room {
      right: 30%;
      top: 32%;
    }

    &#kitchen {
      right: 30%;
    }

    &#dining-room {
      left: 47%;
      top: 26%;
    }
  }
}

#second-floor {
  #master-bedroom {
    bottom: 20%;
    right: 30%;
  }

  #bedroom-one {
    right: 50%;
    top: 30%;
  }

  #bedroom-two {
    right: 23%;
    top: 30%;
  }

  #bedroom-three {
    right: 29%;
    top: 50%;
  }

  // &#terrace-one {
  //   top: 40%;
  //   left: 15%;
  // }
  
  #terrace-two {
    top: 45%;
    left: 25%;
  }

  // &#terrace-three {
  //   bottom: 30%;
  //   left: 25%;
  // }

  // &#hallway {
  //   bottom: 40%;
  //   right: 35%;
  // }

  #landing-grand-staircase {
    right: 44%;
    top: 45%;
  }

  #spiral-staircase {
    bottom: 27%;
    right: 33%;
  }

  @include media-breakpoint-only(md) {
    #master-bedroom {
      right: 40%;
    }
  
    #bedroom-two {
      right: 36%;
    }
  
    #bedroom-three {
      right: 38%;
    }
  
    // #terrace-one {
    //   left: 30%;
    // }
    
    #terrace-two {
      left: 38%;
    }
  
    // #terrace-three {
    //   left: 38%;
    // }
  
    // #hallway {
    //   right: 42%;
    // } 


    #landing-grand-staircase {
      right: 47%;
      top: 47%;
    }

    #spiral-staircase {
      bottom: 27%;
      right: 41%;
    }
  }

  @include media-breakpoint-down(sm) {
    #master-bedroom {
      right: 37%;
    }
  
    #bedroom-two {
      right: 31%;
    }
  
    #bedroom-three {
      right: 34%;
    }
  
    // #terrace-one {
    //   left: 26%;
    // }
    
    #terrace-two {
      left: 34%;
    }
  
    // #terrace-three {
    //   left: 34%;
    // }
  
    // #hallway {
    //   right: 40%;
    // } 

    #landing-grand-staircase {
      right: 48%;
      top: 47%;
    }
  }
}

// @include media-breakpoint-only(md) {
//   // Ground Floor camera image
//   .blueprint-camera-image-container {  
//     &#living-room {
//       left: 45%;
//       top: 40%;
//     }
  
//     &#family-room {
//       right: 37%;
//       top: 32%;
//     }
  
//     &#staircase {
//       left: 48%;
//     }
  
//     &#kitchen {
//       right: 36%;
//     }
  
//     &#dining-room {
//       left: 47%;
//       top: 25%;
//     }
//   }

//   // Second floor camera image
//   .blueprint-camera-image-container {  
//     &#master-bedroom {
//       right: 40%;
//     }
  
//     &#bedroom-two {
//       right: 36%;
//     }
  
//     &#bedroom-three {
//       right: 38%;
//     }
  
//     &#terrace-one {
//       left: 30%;
//     }
    
//     &#terrace-two {
//       left: 38%;
//     }
  
//     &#terrace-three {
//       left: 38%;
//     }
  
//     &#hallway {
//       right: 42%;
//     } 
//   }
// }

// @include media-breakpoint-down(sm) {
//   .blueprint-camera-image-container {  
//     &#family-room {
//       right: 30%;
//       top: 32%;
//     }

//     &#kitchen {
//       right: 30%;
//     }

//     &#dining-room {
//       left: 47%;
//       top: 26%;
//     }
//   }

//   // Second floor camera image
//   .blueprint-camera-image-container {  
//     &#master-bedroom {
//       right: 37%;
//     }
  
//     &#bedroom-two {
//       right: 31%;
//     }
  
//     &#bedroom-three {
//       right: 34%;
//     }
  
//     &#terrace-one {
//       left: 26%;
//     }
    
//     &#terrace-two {
//       left: 34%;
//     }
  
//     &#terrace-three {
//       left: 34%;
//     }
  
//     &#hallway {
//       right: 40%;
//     } 
//   }
// }

// @include media-breakpoint-down(xs) {
//   .blueprint-camera-image-container {  
//     &#family-room {
//       right: 28%;
//     }

//     &#kitchen {
//       right: 30%;
//       top: 23%;
//     }
//   } 
//   .blueprint-camera-image-container {  
//     &#bedroom-three {
//       right: 30%;
//     }

//     &#bedroom-two {
//       right: 29%;
//     }
  
//   }
// }


#third-floor {
  #spiral-staircase {
    right: 48%;
    bottom: 29%;
  }

  #attic-center {
    left: 50%;
    top: 45%;
  }

  #master-bedroom {
    right: 45%;
    bottom: 21%;
  }

  @include media-breakpoint-only(md) {
    #spiral-staircase {
      right: 49%;
      bottom: 29%;
    }
  
    #master-bedroom {
      right: 48%;
      bottom: 21%;
    }
  }

  @include media-breakpoint-down(sm) {
    #spiral-staircase {
      right: 50%;
      bottom: 29%;
    }
  
    #master-bedroom {
      right: 49%;
      bottom: 21%;
    }
  }
}