.panel-image {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

#home_feature {
  h3 {
    font-size: $font-size-lg
  }
}

#about-feature {
  .panel {
    p {
      font-size: $font-size-sm
    }
  }
  .panel-image {
    max-width: 100px;
  };
}