.panel-image {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}



.about-feature {
  h3 {
    font-size: 15px;
  };
  hr {
    margin-bottom: 10px; 
  }
  .panel-image {
    max-width: 100px;
  };
}