nav {
  hr {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
}

.top-bar {
  height: 62px;
  width: 100%;
}

section {
  padding: 50px 0px;

  &.section-inverse {
    background-color: $primary;

    hr {
      border-color: $white;
    }
  }

  &.section-dark {
    background-color: $dark;
    hr {
      border-color: $primary;
    }

    h2, p {
      color: $white;
    }
  }
};

hr {
  border-color: $primary;
  border-width: 3px;
  width: 50px;
  margin-top: 5px;

  .panel & {
    margin-bottom: 30px;
  }
};

.full-width {
  width: 100%;
}

.btn-inverse {
  background-color: transparent;
  border: 1px solid $gray-900;
  color: $gray-900;

  &:hover,
  &:focus {
    border: 1px solid darken($primary, 10%);
    background-color: darken($primary, 7.5%);
    color: $gray-900;
  }
}

.contact-link {
  width: fit-content;
  margin: 0 auto;

  & > * {
    display: inline-block;
  }
  a {
    margin-left: 10px;
  }
}

.description-tabs {
  min-height: 400px;
}

.padding-top-none {
  padding-top: 0;
}

.margin-top-sm {
  margin-top: 10px;
}

.margin-top-lg {
  margin-top: 40px;
}

.highlight {
  font-size: 20px;
  font-weight: 600;
}


.photo-gallery {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}